<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <title>找回密码 - SSPU 校园信息发布系统</title>
    <link rel="stylesheet" href="/layui/css/font_24081_qs69ykjbea.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/global.css" charset="utf-8">
</head>
<style>
    .hidden{
        display: none;
    }
</style>
<body>
<div class="fly-header layui-bg-black" style="height: 80px">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/images/login/sspu.png" alt="layui">
        </a>
    </div>
</div>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="/">登入</a></li>
                <li class="layui-this">找回密码</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-btn-container" style="margin: 10px 0;">
                    </div>
                    <div class="layui-form layui-form-pane">
                        <form>
                            <div class="layui-form-item">
                                <label for="L_account" class="layui-form-label">账号</label>
                                <div class="layui-input-inline">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><input type="text" id="account" name="account" required lay-verify="number" autocomplete="off" class="layui-input" placeholder="您的工号/账号"></td>
                                            <td><span id="spanAccount" style="color: red" class="hidden">账号不存在</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_password" class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><input type="password" id="f_password" name="fPasswrd" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="输入您的新密码"></td>
                                            <td><span id="spanFPass" style="color: red"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_sPassword" class="layui-form-label">重复密码</label>
                                <div class="layui-input-inline">
                                    <table style="width: 100%">
                                        <tr>
                                            <td width="200px"><input type="password" id="s_password" name="sPasswrd"  required lay-verify="required" autocomplete="off" class="layui-input" placeholder="再次输入密码" onblur="checkPass()"></td>
                                            <td><span id="spanSPass" style="color: red" class="hidden">密码不一致</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_Receiver" class="layui-form-label">联系方式</label>
                                <div class="layui-input-inline">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><input type="type" id="receiver" name="receiver" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="Phone/Email"></td>
                                            <td><span id="spanReceiver" style="color: red" class="hidden"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><input type="text" id="code" name="code" required lay-verify="number" autocomplete="off" class="layui-input" placeholder="收到的验证码"></td>
                                            <td><span id="spanCode" style="color: red"  class="hidden">验证码错误</span></td>
                                        </tr>
                                    </table>
                                </div>
                               <div>
                                   <div class="layui-form-mid" style="padding: 0!important;">
                                       <div id="codeDIV">
                                           <button type="button" class="layui-btn layui-btn-normal" id="getCodeBtn" onclick="getCode()">获取验证码</button>
                                       </div>
                                       <div id="countDownDIV" class="hidden">
                                           <span id="countdown"class="layui-btn layui-btn-normal"></span>
                                       </div>
                                   </div>
                               </div>
                            </div>
                            <div style="display: flex;justify-content: space-between; width: 200px">
                                <!--<div>-->
                                    <!--<button class="layui-btn" id="getCodeBtn" onclick="getCode()">获取验证码</button>-->
                                <!--</div>-->
                                <div>
                                    <button class="layui-btn" lay-submit lay-filter="setmyinfo"onclick="changePass()">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fly-footer">
    <p>CopyRight&nbsp;&nbsp;&nbsp;©2020&nbsp;&nbsp;&nbsp;上海第二工业大学</a></p>
    <p>Create By zy</a></p>
</div>
<script type="text/javascript" src='/js/jquery.min.js'></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript">
    var layer;
    ;!function(){
        let form = layui.form;
        layer=layui.layer;
        form.on('submit(setmyinfo)',function (data) {
            // changePass();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })
    }();

    function sendCode(receiver,account,url){
        $.ajax({
            type:'get',
            dataType:'json',
            url: url,
            data:{
                'receiver':receiver,
                'account':account
            },
            success:function (backData) {
                if (backData.result!=null && backData.result=="success"){
                    layer.msg("验证码发送成功，请注意查收");
                    countDownTime();
                }else if (backData.codeWayError!=null && backData.codeWayError=="true") {
                    $('#spanReceiver').removeClass('hidden');
                    document.getElementById("spanReceiver").innerHTML="该账号不存在此联系方式";
                }else if (backData.accountError!=null && backData.accountError=="true"){
                    $('#spanAccount').removeClass('hidden');
                }
            },error:function (data) {
                if (data.msg!=undefined && data.msg!=""){
                    layer.msg(data.msg);
                } else{
                    layer.msg("请求失败");
                }
            }
        })
        return false;
    }

    function getCode(){
        showHiddenStyle();
        let account=document.getElementById("account").value;
        if (account==""){
            $("#spanAccount").removeClass('hidden');
            document.getElementById("spanAccount").innerHTML="不能为空";
            return false;
        }

        let codeWay = document.getElementById("receiver").value; //要验证的对象
        if(codeWay==null || codeWay == ""){ //输入不能为空
            $("#spanReceiver").removeClass('hidden');
            document.getElementById("spanReceiver").innerHTML="不能为空";
            return false;
        }

        var url="";
        var num=0;
        if (codeWay.indexOf('@')!=-1){
            let reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
            if(reg.test(codeWay)){ //Email 正则验证不通过，格式不对
                url="http://127.0.0.1:8080/smps/password/code/sml";
            }else{
                $("#spanSPass").removeClass('hidden');
                $("#spanSPass").innerHTML="邮箱格式有误";
                return false;
            }
        }else{
            if(/^[1][3,4,5,6,7,8,9][0-9]{9}$/.test(codeWay)){
                url="http://127.0.0.1:8080/smps/password/code/sms";
            }else{
                $("#spanReceiver").removeClass('hidden');
                document.getElementById("spanReceiver").innerHTML="手机号码有误";
                return false;
            }
        }
        sendCode(codeWay,account,url);
    }

    let InterValObj; //timer变量，控制时间
    let count = 60; //间隔函数，1秒执行
    let curCount;//当前剩余秒数
    //发送短信验证码
    function countDownTime() {
        curCount = count;
        // 设置button效果，开始计时
        $('#codeDIV').addClass('hidden')
        $('#countDownDIV').removeClass('hidden');
        document.getElementById("countdown").innerHTML=curCount + "秒后重获";//更改按钮文字
        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器timer处理函数，1秒执行一次
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {//超时重新获取验证码
            window.clearInterval(InterValObj);// 停止计时器
            $('#codeDIV').removeClass('hidden')
            $('#countDownDIV').addClass('hidden');
        }else {
            curCount--;
            document.getElementById("countdown").innerHTML=curCount + "秒后重获";
        }
    }
    
    function changePass() {
        if (!checkValue()){
           return false;
        }
        let account = document.getElementById("account").value;
        let password = document.getElementById("f_password").value;
        let code = document.getElementById("code").value;
        let receiver=document.getElementById("receiver").value;
        $.ajax({
            type:'put',
            dataType:'json',
            url: 'http://127.0.0.1:8080/smps/password/'+account,
            async: false,
            data:{
                'receiver':receiver,
                'code':code,
                'newPassword':password,
                'account':account
            },
            success:function (data) {
                if (data.result!=null && data.result=="success"){
                    alert("修改密码成功");
                    window.location.href="/";
                }else if (data.codeError!=null && data.codeError=="true"){
                    $('#spanCode').removeClass('hidden');
                }else if (data.msg!=undefined && data.msg!=""){
                    layer.msg(data.msg);
                }
            },error:function () {
                layer.msg("请求失败");
            }
        })
        return false;
    }

    //验证密码是有一致
    function checkPass() {
        let sPass = document.getElementById("s_password").value;
        let fPass = document.getElementById("f_password").value;
        if (fPass!=sPass){
            $("#spanSPass").removeClass("hidden");
            return false;
        }
        $("#spanSPass").addClass("hidden");
        return true;
    }

    //隐藏表单提示错误
    function showHiddenStyle() {
        $("#spanAccount").addClass('hidden');
        $("#spanSPass").addClass('hidden');
        $("#spanReceiver").addClass('hidden');
        $("#spanCode").addClass('hidden');
    }

    function checkValue() {
        var account=$('#spanAccount').value;
        if ($("#spanAccount").value!=undefined){
            return false;
        }
        if ( $("#spanSPass").value!=undefined){
            return false;
        }
        if ( $("#spanReceiver").value!=undefined){
            return false;
        }
        if ( $("#spanCode").value!=undefined){
            return false;
        }
        return true;
    }
</script>
</body>
</html>