<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人主页_SMPS</title>
    <link rel="stylesheet" href="/css/userInfo/global.css">
    <link rel="stylesheet" href="/css/userInfo/global_1.css">
    <link rel="stylesheet" href="/css/userInfo/ui.css">
    <link rel="stylesheet" href="/css/userInfo/base.css">
    <link rel="stylesheet" href="/css/userInfo/default.css">
    <link rel="stylesheet" href="/css/userInfo/profilemain.css">
</head>
<body>
<div class="nk-container" id="app">

    <!--显示-->
    <div class="nowcoder-header js-nowcoder-header">
        <div class="header-main clearfix">
            <img src="/images/login/sspu.png">
        </div>
    </div>

    <div class="nk-main clearfix">
        <!--头像 div-->
        <div class="profile-info-wrapper">
            <div class="profile-level level1"></div>
            <div class="profile-info-main">
                <a class="head-pic ">
                    <img v-bind:src="user.image">
                </a>
                <div class="profile-info-cont">
                    <section>
                        <a class="profile-user-name js-nc-title-tips level-color-6" href="javascript:void(0);" data-title="yours201906250919491" data-encode="1">{{user.account}}</a>
                    </section>
                    <ul class="profile-cont clearfix">
                        <li class="profile-city"><i class="ico-pcity"></i>{{user.name}}</li>
                        <li class="profile-edu"><i class="ico-pedu"></i>上海第二工业大学</li>
                    </ul>
                    <input name="account" id="account" type="hidden"  value="20161113033" v-model="user.account">
                </div>
            </div>
        </div>
        <!--右边 div-->
        <div class="nk-bar">
            <div class="module-box">
                <ul class="profile-menu">
                    <li>
                        <a href="/UI/home/tag"  class="selected" >
                            <i class="profile-icon p-ico-home"></i>
                            首页
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/view/user/userInfo.html" target="container">
                            <i class="profile-icon p-ico-info"></i>
                            个人信息
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/view/user/message.html" target="container">
                            <i class="profile-icon p-ico-project "></i>
                            信息
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/view/user/message_cancel.html" target="container">
                            <i class="profile-icon p-ico-answer"></i>
                            驳回信息
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/view/user/collection.html" target="container">
                            <i class="profile-icon p-ico-sc"></i>
                            收藏
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/view/sys/password.html" target="container" >
                            <i class="profile-icon p-ico-test"></i>
                            修改密码
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--显示内容div-->
        <div class="nk-content">
            <iframe width="100%" height="100%" src="/view/user/tip.html" frameborder="0" name="container"></iframe>
        </div>

        <!--底部-->
        <div class="ft-wrap js-nowcoder-footer">
            <div class="ft-cont clearfix">
                <div class="ft-main">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:function(){
            return{
                user: {
                    "name" : "",
                    "account": "",
                    "image" : ""
                }
            }
        },
        mounted:function () {
            axios.get("http://localhost:9008/UI/user/")
                .then(response => (this.user=response.data))
                .catch(function (reason) {
                    console.log(reason);
                })
        },
    })
</script>
</html>
