<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layui/css/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">

      <div class="layui-form-item">
        <div><h2>用户管理</h2></div><hr>
        <div class="layui-inline">
          <label class="layui-form-label">账号</label>
          <div class="layui-input-block">
            <input type="text" id="account" name="account" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">部门/班级</label>
          <div class="layui-input-block">
            <input type="text" id="class_dept" name="class_dept" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>

        <div class="layui-card">

        </div>

        <!--<div class="layui-inline">-->
          <!--<label class="layui-form-label">文件</label>-->
          <!--<div class="layui-input-block">-->
            <!--<input type="file" name="userFile" autocomplete="off" class="layui-input">-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
        <button class="layui-btn layuiadmin-btn-useradmin" id="upload-user">导入用户</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="export">导出用户</button>
      </div>


      <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
      <script type="text/html" id="imgTpl">
        <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
      </script>
      <script type="text/html" id="table-useradmin-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script src="/layui/layui.all.js"></script>
<script>

  ;!function(){
    var $ = layui.$;
    var form = layui.form;
    var table = layui.table;
    var upload=layui.upload;
    var layer=layui.layer;

    table.render({
      elem: '#LAY-user-manage',
      height: 480,
      url: 'http://127.0.0.1:8080/smps/user/list', //数据接口
      method:'get',
      page: true, //开启分页
      parseData:function(res){
        return{
          "code": res.code,
          "msg":res.msg,
          "count": res.count, //解析数据长度
          "data": res.result //解析数据列表
        }
      },
      cols: [[ //表头
        {checkbox: true, LAY_CHECKED: false,width:'6%'},
        {field: 'account', title: 'ID', width:'10%', sort: true},
        {field: 'name', title: '用户名', width:'10%'},
        {field: 'className', title: '班级', width:'12%'},
        {field: 'age', title: '年龄', width:'5%'},
        {field: 'gender', title: '性别', width:'6%'},
        {field: 'phone', title: '手机号', width:'11%'},
        {field: 'email', title: '邮箱号', width:'16%'},
        {field: 'state', title: '状态', width:'8%'},
        {fixed: 'right', title: '操作',width: '16%', align: 'center', toolbar: '#table-useradmin-webuser'} //这里的toolbar值是模板元素的选择器
      ]]
    });

    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      let conditions = data.field;
      //执行重载
      table.reload('LAY-user-manage', {
        where: {
          account:conditions.account,
          className:conditions.class_dept,
          page:1
        }
      });
    });

    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
                ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }

        layer.confirm('确定删除吗？', function(index) {
          var accounts="";
          for (let i=0;i<checkData.length;i++){
            accounts=accounts+checkData[i].account;
            if(i<checkData.length-1){
              accounts=accounts+",";
            }
          }
          layer.msg(accounts);
          $.ajax({
            url : "http://127.0.0.1:8080/smps/user/delete;",
            type : "delete",
            dataType : "json",
            data:{
              'accounts':accounts
            },
            success : function(backdata) {
              if (backdata.result!=null && backdata.result=="success"){
                table.reload('LAY-user-manage');
                layer.msg('删除成功');
              }else{
                layer.msg("请求失败");
              }
            }, error : function(data) {
              layer.msg("请求失败");
            }
          });
        });
      }
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加用员'
          ,content: '/view/sys/userform.html'
          ,area: ['600px', '600px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submit = layero.find('iframe').contents().find('#LAY-user-front-submit');

            //监听提交
            iframeWindow.layui.form.on('submit(LAY-user-front-submit)', function(data){
              var userInfo = data.field; //获取提交的字段
              $.ajax({
                type:'post',
                data: userInfo,
                dataType:'json',
                url: 'http://127.0.0.1:8080/smps/user/',
                success:function (backdata) {
                  if (backdata.result!=null && backdata.result=="success"){
                    layer.msg("添加成功");
                    table.reload('LAY-user-manage'); //数据刷新
                    layer.close(index); //关闭弹层
                  }else if (backdata.msg!=undefined && backdata.msg!=null) {
                    layer.msg(backdata.msg);
                  }
                },error:function (backdata) {
                  if (backdata.msg!=undefined && backdata.msg!=null) {
                    layer.msg(backdata.msg);
                  }else{
                    layer.msg("请求失败");
                  }
                }
              })
            });

            submit.trigger('click');
          }
        });
      }
      ,export:function () {
        let class_or_dept=$('#class_dept').val();
        let account=$("#account").val();
        window.open("http://127.0.0.1:8080/smps/user/download?account="+account+"&className="+class_or_dept);
        // $.ajax({
        //   url : "http://127.0.0.1:8080/smps/user/download/",
        //   type : "get",
        //   // dataType : "json",
        //   data:{
        //     account:account,
        //     className:class_or_dept
        //   },
        //   success : function(backdata) {
        //     if (backdata.result!=null && backdata.result=="failure"){
        //       layer.msg("导出数据失败");
        //     }else{
        //       layer.msg("导出数据成功，请注意查收");
        //     }
        //   }, error : function(data) {
        //     layer.msg("请求失败");
        //   }
        // });
      }
    }

    table.on('tool(LAY-user-manage)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
      var data = obj.data; //获得当前行数据
      var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      var tr = obj.tr; //获得当前行 tr 的DOM对象

      if (layEvent === 'del') { //删除
        layer.confirm('您确定要删除吗？', function (index) {
          var account=data.account
          $.ajax({
            url : "http://127.0.0.1:8080/smps/user/delete/"+account,
            type : "delete",
            dataType : "json",
            success : function(backdata) {
              if (backdata.result!=null && backdata.result=="success"){
                layer.msg("删除成功！");
                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
              }else{
                layer.msg("请求失败");
              }
            }, error : function(data) {
              layer.msg("请求失败");
            }
          });
          layer.close(index);
          //向服务端发送删除指令
        });
      }else if (layEvent === 'edit') { //编辑
        let account=data.account;
        window.location.href="/UI/user/"+account;
      }
    });

    //指定允许上传的文件类型
    upload.render({
      elem: '#upload-user'
      ,url: 'http://127.0.0.1:8080/smps/user/upload'
      ,accept: 'file' //普通文件
      ,exts: 'xls|xlsx' //只允许上传压缩文件
      ,done: function(backdata){
        if (backdata.result!=null && backdata.result=="success"){
          table.reload('LAY-user-manage');
          layer.msg("保存用户成功");

        }else{
          layer.msg("保存用户失败");
        }
      }
    });

    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  }();

</script>
</body>
</html>
