<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>

</head>
<style>
    .center{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    .button {
        background-color: #008CBA; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }
</style>
<link type="text/css" href="http://127.0.0.1:9008/layui/css/layui.css">
<body>
 <div id="mainContent">
     <div style="width: 900px;height: 800px; background: white" class="center">
         ###text###
         <div style="text-align: center;margin-top: 20px" id="btn">
             <button class="button" id="submitBtn" @click="collect">收藏</button>
             <button class="button" id="cancelBtn" @click="cancel">返回</button>
         </div>
     </div>
 </div>
</body>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript">
    let vue=new Vue({
        el:'#btn',
        data:function () {
            return{
                user:{
                    account:'',
                    userId:'',
                }
            }
        },
        methods:{
            cancel:function () {
                self.location=document.referrer;
            },
            collect:function () {
                axios.get("http://localhost:9008/UI/user/",)
                    .then(function (backdata) {
                        vue.user=backdata.data;
                        vue.submitCollect();
                    }).catch(function (reson) {
                    alert("请求失败");
                })
            },
            submitCollect:function () {
                let url = window.location.href;
                let messId=url.substring((url.lastIndexOf("/")+1));
                let btnValue=document.getElementById("submitBtn").innerText
                if ("收藏"==btnValue){
                    axios.post("http://127.0.0.1:8080/smps/message/collection/",
                        {
                            "userId":vue.user.userId,
                            "account":vue.user.account,
                            "messId":messId
                        }
                    ).then(function (backdata) {
                        let data=backdata.data;
                        if (data.result!=null && data.result=="success"){
                            alert("收藏成功,请勿重复提交");
                            document.getElementById("submitBtn").innerHTML="取消收藏";
                        } else if (data.msg!=undefined) {
                            alert(data.msg)
                        }else{
                            alert("收藏失败");
                        }
                    }).catch(function (data) {
                        if (data.msg!=undefined) {
                            alert(data.msg)
                        }else{
                            alert("请求失败");
                        }
                    })
                }else{
                    axios.delete("http://127.0.0.1:8080/smps/message//list/collect/"+messId)
                        .then(function (backdata) {
                            let data=backdata.data;
                            if (data.result!=null && data.result=="success"){
                                alert("取消收藏成功");
                                document.getElementById("submitBtn").innerHTML="收藏";
                            } else if (data.msg!=undefined) {
                                alert(data.msg)
                            }else{
                                alert("取消收藏失败");
                            }
                        }).catch(function (data) {
                        if (data.msg!=undefined) {
                            alert(data.msg)
                        }else{
                            alert("请求失败");
                        }
                    })
                }
            }
        },
        mounted:function () {

        }
    })
</script>
</html>